@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-secondary: var(--color-grey-400);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-grey-200);
}

@theme static {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-brand-50: #fcf3f2;
  --color-brand-100: #f4cbcb;
  --color-brand-200: #eca4a4;
  --color-brand-300: #e47c7f;
  --color-brand-400: #db555a;
  --color-brand-500: #d32e36;
  --color-brand-600: #b4272c;
  --color-brand-700: #952023;
  --color-brand-800: #76191a;
  --color-brand-900: #561313;
  --color-brand-950: #370d0c;

  --color-grey-50: #f9f8f7;
  --color-grey-100: #f4f3f1;
  --color-grey-200: #e2e1df;
  --color-grey-300: #c3c3bf;
  --color-grey-400: #b4b4af;
  --color-grey-500: #777674;
  --color-grey-600: #4f4d4a;
  --color-grey-700: #353332;
  --color-grey-800: #232221;
  --color-grey-900: #191919;
  --color-grey-950: #161414;

  --color-red-50: #fef4f0;
  --color-red-100: #f9d5c9;
  --color-red-200: #f5b6a2;
  --color-red-300: #ef957c;
  --color-red-400: #e97456;
  --color-red-500: #e35131;
  --color-red-600: #c4432c;
  --color-red-700: #a63626;
  --color-red-800: #882b20;
  --color-red-900: #6b201a;
  --color-red-950: #4d1613;

  --color-green-50: #f2faf2;
  --color-green-100: #cceed1;
  --color-green-200: #a4e4b2;
  --color-green-300: #7adc98;
  --color-green-400: #4ed682;
  --color-green-500: #20d372;
  --color-green-600: #1cb966;
  --color-green-700: #189e59;
  --color-green-800: #14844b;
  --color-green-900: #10693d;
  --color-green-950: #0c4e2f;

  --color-blue-50: #f2fcfc;
  --color-blue-100: #cdf1f7;
  --color-blue-200: #a6e2f5;
  --color-blue-300: #7ccef6;
  --color-blue-400: #4fb5f9;
  --color-blue-500: #1f93ff;
  --color-blue-600: #1b7edf;
  --color-blue-700: #176abf;
  --color-blue-800: #13569f;
  --color-blue-900: #0f437f;
  --color-blue-950: #0b315e;

  --text-2xs: 10px;
}

.maplibregl-ctrl-top-right {
  display: none;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-top-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-top-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-top-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-bottom-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-bottom-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-bottom-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-left-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
  --tw-bg-opacity: 1;
  border-right-color: rgb(35 34 33 / var(--tw-bg-opacity)) !important;
}

/* Popup entrance animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.geod-popup .maplibregl-popup-content {
  @apply p-0;
  @apply rounded-md;
  animation: fadeIn 0.3s ease-out forwards; /* Apply the entrance animation */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Horizontal Scrollbar */
::-webkit-scrollbar:horizontal {
  height: 4px; /* Set the height of the horizontal scrollbar */
  width: 4px; /* Set the height of the horizontal scrollbar */
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-grey-600 rounded-lg h-7;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 transparent;
}
