.maplibregl-ctrl-top-right {
  display: none;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 32px 24px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.maplibregl-ctrl button.maplibregl-ctrl-compass {
  border-radius: 8px;
  width: 36px;
  height: 36px;
}

.maplibregl-ctrl button.maplibregl-ctrl-compass:hover {
  background-color: theme("colors.black");
}

.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon {
  background-image: url("../icons/ic-compass.svg");
}
